.ChangePicForm {
  color: white;
  margin-top: 50px;
  max-width: 20rem;
  padding: 1rem;
  // display: flex;
  // flex-direction: column;
  background-color: blue;
  // height: 100%;
}

.buttonPanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iconButton {
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  margin: .25rem;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPic {
  height: 3rem;
  width: 3rem;
}